@use "../fonts";
@use "../vars";
@use "../templates";

.footer {
    background-color: vars.$dark-green;
    font-family: "Montserrat";
    gap: 60px;
    padding: 20px;

    &__container {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        flex-wrap: wrap;
    }

    &__logo {
        flex-shrink: 0;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        font-size: 16px;
        line-height: 32px;
        margin-left: auto;

        a {
            cursor: pointer;
        }

        .copy_button {
            height: 15px;
            width: 13.13px;
            background-color: vars.$dark-green;
            border: none;
            cursor: pointer;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 10px;

        &-link {
            display: flex;
        }

        &-icon {
            height: 60px;
            width: 60px;
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        font-size: 13px!important;
        line-height: 26px!important;
        padding: 50px;

        &__container {
            flex-wrap: nowrap;
            gap: 20px;
            padding: 0 10px;
        }

        &__logo {
            margin-right: auto;
        }

        &__contacts {
            font-size: 13px;
            line-height: 26px;
        }

        &__social {
            margin-left: auto;
        }

        .footer__social-icon {
            height: 55px;
            width: 55px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        font-size: 13px;
        line-height: 26px;
        padding: 50px;

        &__container {
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
        }

        &__logo {
            display: none;
        }

        &__contacts {
            font-size: 13px;
            line-height: 26px;
            margin-left: 0;
        }

        .footer__social {
            margin-top: 30px;
            margin-left: 0;
        }

       .footer__social-icon {
            height: 50px;
            width: 50px;
        }
    }
}

@media (max-width: 400px) {
    .footer {
        font-size: 13px;
        line-height: 20px;
        padding: 40px;

        &__container {
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;
        }

        &__logo {
            display: none;
        }

        &__contacts {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 13px;
            line-height: 26px;
            margin: 0;
        }

        .footer__contact {
            white-space: nowrap;
            font-size: 13px;
            line-height: 26px;
        }

        .footer__social {
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 5px;
            margin-top: 30px;
        }

        .footer__social-icon {
            height: 40px;
            width: 40px;
        }
    }
}
