@use "../fonts";
@use "../vars";

.footer {
    background-color: vars.$dark-green;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__logo {
        justify-content: left;
    }

    &__contacts {
        text-align: center;

        p {
            font-size: 20px;
            line-height: 25px;
            margin: 5px 0;

            a {
                cursor: pointer;
            }

            .copy_button {
                height: 15px;
                width: 13.13px;
                background-color: vars.$dark-green;
                cursor: pointer;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: right;

        &-link {
            display: flex;
        }

        &-icon {
            height: 60.18px;
            width: 64.53px;
        }
    }
}

// ----- 1024px -----

@media (max-width: 1024px) {
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        &__social-icon {
            height: 55px;
            width: 55px;
        }
    }
}

// ----- 768px -----

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        &__social-icon {
            height: 50px;
            width: 50px;
        }
    }
}

// ----- 400px -----

@media (max-width: 400px) {
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        line-height: 26px;

        &__logo {
            display: none;
        }

        &__social-icon {
            height: 47.4px;
            width: 48px;
        }
    }
}



