@use "../fonts";
@use "../vars";

.footer {
    background-color: vars.$dark-green;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__logo {
        margin-right: 40%;
    }

    &__contacts {
        text-align: left;
        margin-left: 6%;

        p {
            font-size: 15px;
            margin: 5px 0;

            a {
                cursor: pointer;
            }

            .copy_button {
                height: 15px;
                width: 13.13px;
                background-color: vars.$dark-green;
                cursor: pointer;
            }
        }
    }

    &__social {
        display: flex;
        margin-left: 6%;

        &-link {
            display: flex;
        }

        &-icon {
            height: 60.18px;
            width: 64.53px;
        }
    }
}

// ----- 1024px -----

@media (max-width: 1024px) {
    .footer__social-icon {
            height: 55px;
            width: 55px;
        }
    }

// ----- 768px -----

@media (max-width: 768px) {
    .footer__social-icon {
            height: 50px;
            width: 50px;
        }
    }

// ----- 400px -----

@media (max-width: 400px) {
    .footer {
        font-size: 13px;

        &__logo {
            display: none;
        }

        &__social-icon {
            height: 47.4px;
            width: 48px;
        }
    }
}



