@use "../vars";
@use "../templates";

.header {
    background-color: vars.$beige;
}
.header > div {
    @extend %container;

    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 13px;

    @media (max-width:1160px) {
        position: fixed;
        top: 0;
        padding-bottom: 4px;
        background-color: vars.$beige;
        z-index: 100;
    }
}
.header-logo {
    display: flex;
    max-width: 222px;
    width: 100%;
    gap: 8px;
    
    &__img {
        @media (max-width:1160px) {
            width: 49px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        font-weight: 500;
        line-height: 11px;
        text-transform: uppercase;
        align-self: center;

        @media (max-width:1160px) {
            font-size: 1.3em;
        }
    }

    &__subtitle {
        padding-top: 3px;
        font-size: 11px;
        font-weight: 300;
        color: #787878;

        @media (max-width:1160px) {
            font-size: 10px;
        }
    }
}

.header-nav {
    display: flex;
    max-width: 777px;
    width: 100%;

    @media (max-width:1159px) {
        display: none;
    }
    &__list {
        display: flex;
        text-transform: uppercase;
        width: 100%;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 18px;

        &-item {
            cursor: pointer;
        }
        &-item a:hover {
            transition: 0.2s;
            font-weight: 500;
            color: vars.$dark-green;
        }
        &-item a:active {
            font-weight: 500;
        }

        & > li:nth-last-child(1) {
            @extend .btn;
        }

        & > li:nth-last-child(1):hover {
            transform: scale(1.02);
            transition-duration: 0.25s;
            background-color: vars.$red;
        }

        & > li:nth-last-child(1) a {
            color: vars.$white;
            font-weight: 700;
        }
    }

}
.header-nav::after,
.header-nav::before {
    content:'';
}
li {
    list-style-type: none;
}

//burger

.header-menu {
    align-content: center;

    @media (min-width: 1160px) {
        display: none;
    }

    &__checkbox {
        position: absolute;
        visibility: hidden;
    }

    &__burger {
        position: relative;
        z-index: 1;
        display: block;
        width: 24px;
        height: 14px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    &__list {
        position: absolute;
        top: 0;
        right: 0;
        display: grid;
        gap: 9px;
        padding: 18px 10px 25px;
        justify-content: center;
        text-transform: uppercase;
        background-color:  vars.$beige;
        transform: translateX(100%);
        transition: 0.3s;
        max-width: 400px;
        width: 100%;

        &-item {
            display: block;
            font-size: 1.3em;
            text-align: center;
            padding: 5px;
        }
        &-item:hover {
            transition: 0.2s;
            font-weight: 500;
            color: vars.$dark-green;
        }
    }
}
.header-menu__burger span {
    content: '';
    right: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: vars.$pink;
}
.header-menu__burger span::after, 
.header-menu__burger span::before {
    content: '';
    right: 0;
    position: absolute;
    display: block;
    height: 2px;
    background-color: vars.$pink;
}
.header-menu__burger span::after {
    width: 20px;
    top: 6px;
}
.header-menu__burger span::before {
    width: 14px;
    top: 12px;
}
.header-menu__checkbox:checked + .header-menu__burger span::before {
    top: 0px;
    width: 100%;
    transform: rotate(90deg);
    transition: .3s;
}
.header-menu__checkbox:checked + .header-menu__burger span {
    bottom: 11px;
    transform: rotate(45deg);
    transition: .3s;
}
.header-menu__checkbox:checked ~ .header-menu__burger span::after {
    width: 0px;
}
.header-menu__checkbox:checked ~ .header-menu__list {
    top: 59px;
    transform: translateX(0);
}

