@use "../fonts";
@use "../vars";

.section-take {
    background-color: vars.$white;
    color: vars.$dark;
    font-family: "Montserrat";
    text-align: center;
    padding: 5% 0;

    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__slider {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8%;

        &-window {
            width: 60%;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }

        &-track {
            display: flex;
            transition: transform 0.5s ease;
            align-items: center;
            gap: 3%;
        }

        &-image {
            height: auto;
            max-width: 230px;
            object-fit: contain;
            transition: all 0.3s ease;

            &--active {
                height: auto;
                max-width: 285px;
            }
        }

        &-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;

            &--left {
                left: 15%;

                img {
                    height: 47px;
                    width: 39px;
                    transform: rotate(-90deg) !important;
                }
            }

            &--right {
                right: 15%;

                img {
                    height: 47px;
                    width: 39px;
                    transform: rotate(90deg) !important;
                }
            }
        }
    }

    &__dots {
        display: none;
    }

    &__description {
        font-size: 20px;
    }
}

// ----- 1024px -----

@media screen and (max-width: 1024px) {
    .section-take {
        padding: 3% 0;

        &__slider {
            padding: 0 40px;

            &-image {
                height: auto;
                width: 90%;

                &--active {
                    height: auto;
                    width: 90%;
                }
            }
        }
    }
}

// ----- 768px -----

@media screen and (max-width: 768px) {
    .section-take {
        &__title {
            margin-bottom: 50px;
        }

        &__slider {
            padding: 0 40px;

            &-image {
                height: auto;
                width: 80%;

                &--active {
                    height: auto;
                    width: 80%;
                }
            }
        }
    }
}

// ----- 400px -----

@media screen and (max-width: 400px) {
    .section-take {
        padding: 20px;
        text-align: center;

        &__title {
            font-size: 18px;
        }

        &__slider {
            &-track {
                display: flex;
                justify-content: center;
                overflow: hidden;
                gap: 10px;
            }

            &-image {
                display: none;

                &--active {
                    width: 100%;
                    display: block;
                }
            }

            &-button {
                display: none;
            }
        }

        &__dots {
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 10px;

            .dot {
                height: 10px;
                width: 10px;
                background-color: vars.$green;
                border-radius: 50%;
                transition: opacity 0.3s;

                &.active {
                    background-color: vars.$dark-green;
                }
            }
        }

        &__description {
            font-size: 16px;
        }
    }
}


