@use "../fonts";
@use "../vars";

.section-take {
  background-color: vars.$white;
  color: vars.$dark;
  font-family: "Montserrat";
  text-align: center;
  padding: 5% 0;

  &__title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 60px;
  }

  &__description {
    font-size: 20px;
    line-height: 32px;
    margin: 0 10%;
  }

  &__wrapper {
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }

  &__slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;

    &-window {
      width: 100%;
      max-width: 900px;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
    }

    &-track {
      display: flex;
      align-items: center;
      gap: 7%;
      transition: transform 0.5s ease;
    }

    &-image {
      max-width: 240px;
      flex-shrink: 0;
      transition: transform 0.5s ease;

      &--active {
        max-width: 285px;
        transform: scale(1.1);
      }
    }

    &-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;

      &--left {
        left: 15%;
        img {
          height: 47px;
          width: 39px;

          transform: rotate(-90deg);
        }
      }

      &--right {
        right: 15%;
        img {
          height: 47px;
          width: 39px;
          transform: rotate(90deg);
        }
      }
    }

    &-mobile {
      height: 326px;
      width: 280px;
      display: none;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  &__dots {
    display: none;
    justify-content: center;
    gap: 8px;
    margin-top: 30px;

    .dot {
      height: 10px;
      width: 10px;
      background-color: vars.$green;
      border-radius: 50%;
      transition: 0.3s;

      &.active {
        background-color: vars.$dark-green;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section-take {
    padding: 5% 0;

    &__title {
      font-size: 32px;
      margin: 45px 0 70px;
    }

    &__description {
      font-size: 18px;
    }

    &__slider {
      padding: 0 40px;

      &-image,
      &-image--active {
        height: auto;
        width: 90%;
      }

      &-button {
        display: none;
      }
    }

    &__dots {
      display: flex;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
    .section-take {
      &__title {
        font-size: 20px;
        margin: 45px 0 35px;
      }

      &__slider {
        &-track,
        &-image,
        &-button {
          display: none;
        }
      }

      &__slider-mobile {
        height: auto;
        width: 100%;
        display: block;
        object-fit: cover;
        padding: 0 60px;
        margin: 0 auto 52px auto;
      }

      &__dots {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-bottom: 30px;

        .dot {
          height: 10px;
          width: 10px;
          background-color: vars.$green;
          border-radius: 50%;
          transition: 0.3s;

          &.active {
            background-color: vars.$dark-green;
          }
        }
      }

      &__description {
        font-size: 18px;
        line-height: 28px;
        margin: 10%;
      }
    }
  }

@media screen and (max-width: 400px) {
  .section-take {
    &__title {
      font-size: 26px;
    }

    &__description {
      font-size: 16px;
      line-height: 28px;
      margin: 8%;
    }

    &__slider-mobile {
      height: auto;
      max-height: 300px;
      width: 100%;
    }
  }
}



