@use "../fonts";
@use "../vars";

.section-volunteering {
  background-color: vars.$green;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7% 8% 7%;

  &__title {
    display: none;
  }

  &__slider {
    width: fit-content;
    position: relative;
    padding: 0 80px;
    margin-top: 4%;

    &-image {
      height: auto;
      width: 420px;
      display: block;
    }

    &-button {
      position: absolute;
      background: none;
      border: none;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);

      &--left {
        left: 2%;

        img {
          height: 47px;
          width: 39px;
          transform: rotate(-90deg);
        }
      }

      &--right {
        right: 2%;

        img {
          height: 47px;
          width: 39px;
          transform: rotate(90deg);
        }
      }
    }
  }

  &__dots {
    display: none;

    .dot {
      height: 10px;
      width: 10px;
      background-color: vars.$white;
      border-radius: 50%;

      &.active {
        background-color: vars.$dark-green;
      }
    }
  }

  &__text-block {
    color: vars.$dark;
    font-size: 20px;
    line-height: 36px;

    &__title {
      text-align: center;
      font-weight: 500;
      margin-bottom: 60px;
    }
  }

  &__list-item {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;

    &__text {
      position: relative;
      overflow: visible;
      line-height: 1.5;
      padding-left: 39px;

      &::before {
        content: '•';
        height: 14px;
        width: 15px;
        color: #628152;
        font-size: 90px;
        border-radius: 50%;
        position: absolute;
        left: 7px;
        bottom: 101px;
        transform: translateY(-5%);
      }
    }

    &:nth-child(1) .section-volunteering__list-item__text::before {
      top: -49%;
    }

    &:nth-child(2) .section-volunteering__list-item__text::before {
      top: -65%;
    }

    &:nth-child(3) .section-volunteering__list-item__text::before {
      top: -49%;
    }

    &:nth-child(4) .section-volunteering__list-item__text::before {
      top: -65%;
    }
  }

  &__button {
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (max-width: 1024px) {
  .section-volunteering {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 60px;

    &__title {
      display: block;
      text-align: center;
      font-size: 32px;
      font-weight: 500;
      margin-top: 45px;
      margin-bottom: 30px;
    }

    &__slider {
      order: 1;
      padding: 0 40px;

      &-image {
        max-width: 100%;
      }

      &-button--left {
        left: -6%;
      }

      &-button--right {
        right: -6%;
      }
    }

    &__dots {
      display: none;
    }

    &__text-block {
      order: 3;
      max-width: 600px;
      width: 100%;
      margin-top: 20px;
    }

    &__text-block__title {
      display: none;
    }

    &__list-item {
      list-style: disc outside;
      padding-left: 3px;
      margin-bottom: 20px;
    }

    &__list-item__text {
      font-size: 18px;
      padding-left: 0;
    }

    &__list-item__text::before {
      content: none;
    }

    &__button {
      order: 5;
      display: none;
      visibility: visible;
      pointer-events: auto;
      background-color: vars.$pink;
      color: white;
      align-self: center;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
      padding: 12px 24px;
      margin-bottom: 50px;

      &:hover {
        background-color: vars.$red;
        transform: scale(1.02);
        transition: 0.25s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-volunteering {
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 20px;
    }

    &__slider {
      order: 1;
      padding: 0 20px;

      &-button {
        display: none;
      }
    }

    &__dots {
      order: 2;
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-top: 10px;

      .dot {
        height: 10px;
        width: 10px;
        background-color: vars.$white;
        border-radius: 50%;

        &.active {
          background-color: vars.$dark-green;
        }
      }
    }

    &__text-block {
      order: 3;
      max-width: 100%;
      margin-top: 30px;
    }

    &__list-item {
      list-style: disc outside;
      padding-left: 3px;
      margin-bottom: 30px;
    }

    &__list-item__text {
      font-size: 18px;
      padding-left: 0;
    }

    &__list-item__text::before {
      content: none;
    }

    &__button {
      background-color: vars.$pink;
      color: white;
      display: inline-block;
      align-self: center;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 15px;
      padding: 12px 24px;
      margin-top: 30px;

      &:hover {
        background-color: vars.$red;
        transform: scale(1.02);
        transition: 0.25s;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .section-volunteering {
    flex-direction: column;
    padding: 30px;

    &__title {
      font-size: 20px;
      margin-bottom: 30px;
    }

    &__slider {
      order: 1;
      padding: 0;

      &-button {
        display: none;
      }
    }

    &__dots {
      order: 2;
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-top: 10px;

      .dot {
        height: 10px;
        width: 10px;
        background-color: vars.$white;
        border-radius: 50%;

        &.active {
          background-color: vars.$dark-green;
        }
      }
    }

    &__text-block {
      order: 3;
      max-width: 100%;
      margin-top: 30px;
    }

    &__text-block__title {
      display: none;
    }

    &__list-item {
      list-style: disc outside;
      padding-left: 3px;
      margin-bottom: 30px;
    }

    &__list-item__text {
      font-size: 16px;
      padding-left: 0;
    }

    &__list-item__text::before {
      content: none;
    }

    &__button {
      background-color: vars.$pink;
      color: white;
      display: inline-block;
      align-self: center;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 20px;
      margin-top: 30px;

      &:hover {
        background-color: vars.$red;
        transform: scale(1.02);
        transition: 0.25s;
      }
    }
  }
}














